body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 85%);
}

#calculator {
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(234, 32%, 56%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(263, 12%, 21%);
    color: white;
    
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(263, 12%, 15%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(263, 12%, 30%);
}
button:active {
    background-color: hsl(263, 12%, 40%);
}

.operation-btn {
    background-color: hsl(261, 16%, 69%);
}

.operation-btn:hover {
    background-color: hsl(261, 16%, 79%);
}

.operation-btn:active {
    background-color: hsl(261, 16%, 89%);
}